@import url("https://fonts.googleapis.com/css2?family=Kantumruy:wght@300;400;700&display=swap");
body {
  margin: 0;
  font-family: "Kantumruy", sans-serif;
  padding: 0;
}
div {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

input{
 box-sizing:border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}
.owl-nav{
  display: none;
}
.owl-dots{
  bottom: -30px;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.owl-dot{
  width: 10px;
  height: 10px;
  background: #ffffff !important;
  margin: 0 6px;
  border-radius: 10px;
  outline: none;
  transition: .3s linear;
}

.owl-dot.active{
  width: 20px;
  background: linear-gradient(45deg, #d5a950, #fdfcaa) !important;
}

.owl-dot:hover{
  width: 20px;
  background: linear-gradient(45deg, #d5a950, #fdfcaa) !important;
}

/* Modal */
.modal-base {
  top: 5%;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}

.modal-base_after-open {
  opacity: 1;
  transform: scale(1);
}

.modal-base_before-close {
  transform: scale(.2);
  opacity: 0;
}

.overlay-base {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(66, 66, 66, .5);
  opacity: 0;
	transition: all 0.3s ease-out;
}

.overlay-base_after-open {
  opacity: 1;
}

.overlay-base_before-close {
  opacity: 0;
}